
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

body {
    background: url("assets/night.jpg")  no-repeat fixed 0 0 / cover;
    font-family: 'Lato', sans-serif;
}

.folded-corner {
    position: relative;
    width: 80%;
    padding: 1em 1.5em;
    margin: 0 auto;
    color: #fff;
    background-color:rgba(71,167,154,.8);
    overflow: hidden;
}

.folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: #15253c #15253c #308277 #308277;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    display: block;
    width: 0;
}

.fas:before {
    color: #47a79a;
}

